// common set
$media--small: "max-width: 780px";

body{
  font-family: 'Noto Sans KR', sans-serif;
  font-family: 'Permanent Marker', cursive;
  background-image: repeating-linear-gradient(90deg, rgb(128, 128, 128), rgb(128, 128, 128) 1px, transparent 0, transparent 24px), repeating-linear-gradient(rgb(128, 128, 128), rgb(128, 128, 128) 1px, transparent 0, transparent 24px);
  display: flex;
  justify-content: center;
  align-items: center;
}
button{
  padding:0;
  margin:0;
  outline:none;
  border:none;
  cursor: pointer;
  background-color: transparent;
}
.btn{
  padding:4px 12px;
  font-family: 'Permanent Marker', cursive;
  &--danger{
    background-color: rgb(224, 104, 100);
    color:#fff;
  }
  &--scroll{
    color:#fff;
    background-color: lightgray;
  }
}

label{
  cursor: pointer;
  input[type="checkbox"]:checked + .checkMark{
    background-color:rgba(0,0,255,0.2);
    color:#333;
    border-color:transparent;
    &:before{
      content:'✔︎';
    }
  }
  .checkMark{
    color:#b1b1b1;
    width:15px;
    height:15px;
    border:1px solid lightgray;
    background-color: #fff;
    display:inline-block;
    position:relative;
    &:before{
      content:'';
      font-size:24px;
      position:absolute;
      left: 2px;
      bottom: 1%;
    }
  }
}

.todoApp{
  $self:&;
  font-size:1rem;
  margin:40px;
  @media (#{$media--small}) {
    margin: 0 24px;
    // width:100vw;
  }
  &::before,
  &::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    background: transparent;
    height: 40px;
    z-index: 2;
    @media (#{$media--small}) {
      height: 0;
    }
  }
  &::after {
    top: inherit;
    bottom: 0;
  }
  &__title{
    text-align:center;
    font-family: 'Permanent Marker', cursive;
    color: #222;
    font-size: 3rem;
    position: relative;
    margin-bottom: 20px;
    // top:40px;
    &:after{
      content: '';
      width:255px;
      z-index:3;
      height:10px;
      background-color: rgba(0,0,255,0.2);
      position: absolute;
      left:50%;
      transform:translateX(-50%);
      bottom:1px;
    }
  }
  &__actions{
    position:sticky;
    top:40px;
    z-index:4;
    border-bottom:thick double rgba(148, 148, 148, 0.8);
    @media (#{$media--small}) {
      top: 10px;
      margin-bottom:10px
    }
    #{$self}__filter{
      display:flex;
      justify-content: space-between;
      background-color: rgb(239, 247, 139);
      box-sizing: border-box;
      button{
        padding:10px 0;
        flex:1;
        word-break: keep-all;
        font-size:23px;
        color:#444;
        &:hover,
        &.active{
          text-shadow: 1px 4px yellowgreen;
        }
        @media (#{$media--small}) {
          font-size:18px;
          &:hover,
          &.active{
            text-shadow: 1px 3px yellowgreen;
          }
        }
      }
    }
  }
  &__actionButton{
    padding:14px;
    background: rgba(255,255, 255, 0.74);
    padding:5px 15px;
    display:flex;
    justify-content: space-between;
  }
  // TODO LIST
  &__list {
    max-height: calc(100vh - 330px);
    @media (#{$media--small}) {
      max-height: calc(100vh - 267px)
    }
    // overflow: hidden;
    overflow: auto;
  }
  &__creator{
    position:sticky;
    width:inherit;
    bottom:40px;
    @media (#{$media--small}) {
      bottom: 15px;
    }
    display:flex;
    align-items: center;
    padding:14px;
    border-top:2px solid #333;
    background-color: #fff;
    label{
      width:100%;
    }
    input {
      display: block;
      border: none;
      outline: none;
      font: inherit;
      height:50px;
      width: calc(100% - 15px);
      margin-left:10px;
      text-indent: 10px;
      background-color: rgba(230,230,230,.4);
      &::-webkit-input-placeholder { color: gray }
      &:-ms-input-placeholder      { color: gray }
      &::-moz-placeholder          { color: gray }
    }
  }
}
